* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(https://oge.sdamgia.ru/static/media/wallpaper.5c1252e5.svg);
}

header {
    display: flex;
    flex-direction: row;
}

header.logo {
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(https://oge.sdamgia.ru/static/media/math.56ea8800.png);
    background-size: cover;
    background-color: #ffff00;
}

header.hrefs {
    display: flex;
    flex-direction: row;
    background-color: violet;
    height: 100px;
}